
@font-face {
    font-family: 'ekcqw_gbkregular';
    src: url('fzzy_gbk-webfont.woff2') format('woff2'),
         url('fzzy_gbk-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

body {
	font-family: 'ekcqw_gbkregular';
	background-color: #525252;
	margin: 0;
  overflow: hidden;
  transition: 0.5s ease;
}

header {
	position: relative;
    background-color: #313131;
    height: 50px;
    width: 100%;
    display: flex;
    align-items: center;
    color: #fff;
	margin: 0;
}

header * {
    display: inline;
}

header li {
	margin:30 px;
}

header ul {
  padding-left:10px;
}

.nolist {
  list-style-type:none;
}

ul.pagenav {

}

ul.pagenav>li {
  margin-bottom: 5px;
  margin-top: 5px;
  padding-left: 20px;
  padding: 10px;
  cursor: pointer;
}

ul.pagenav>li>a {
  color: #fff;
  text-decoration: none;

}

ul.pagenav>li.selected {

}



/*main end here*/

/*index.html*/
#buttonNav {
  cursor: pointer;
  font-size: 20px;
}

.sidenav {
    background-color: #313131;
    height: 100%;
    width: 250px;
    position: fixed;
    z-index: 2;
    top: 0;
    left: -250px;
    overflow-x: hidden;
    transition: 0.5s ease;
    color: #fff;
    padding-top: 0px;
    padding-left: 0px;
}

.main-container {
  width: 100%;
  height: 100%;
}

.main-title {
  width: auto;
  text-align: center;
  font-size: 25px;
  color: white;
}

.main-subtitle * {
  color: white;
  text-align: center;
}

/*index end here*/
