@font-face {
    font-family: 'ekcqw_gbkregular';
    src: url('fzzy_gbk-webfont.woff2') format('woff2'),
         url('fzzy_gbk-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}